:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: aquamarine; */
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* background-color: brown; */
}