.floorplan-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}

.add-room-plus {
    position: absolute;
    top: 0;
    left: 0;
}