.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #4A6DE5;
}

.nav-left-side {
    display: flex;
    align-items: baseline;
    padding-left: 2.5%;
    margin-top: -5px;
    margin-bottom: -5px;
}

.title {
    letter-spacing: 2px;
}

.title-lockup {
    display: flex;
    align-items: baseline;
}

.fl {
    height: 0;
    width: 0;
    overflow-x: hidden;
    transition: width 1s, height 1s, transform 1s;
}

.navbar:hover .fl {
    /* letter-spacing: 1px; */
    height: 100%;
    width: 22px;
    opacity: 1;
    transform: translateX(0);
}

.oo {
    letter-spacing: -4px;
}

.r {
    height: 0;
    width: 0;
    overflow-x: hidden;
    transition: width 1s, height 1s, transform 1s;
}

.navbar:hover .r {
    height: 100%;
    width: 24px;
    opacity: 1;
    transform: translateX(0);
}

.pla {
    letter-spacing: 1px;
    height: 0;
    width: 0;
    overflow-x: hidden;
    transition: width 1s, height 1s, transform 1s;
}

.navbar:hover .pla {
    padding-left: 6px;
    height: 100%;
    width: 43px;
    transform: translateX(0);
}

.nn {
    letter-spacing: -6px;
}

.er {
    height: 0;
    width: 0;
    overflow-x: hidden;
    transition: width 1s, height 1s, transform 1s;
}

.navbar:hover .er {
    padding-left: 5px;
    height: 100%;
    width: 30px;
    transform: translateX(0);
}

.title-slashes {
    padding-left: 20px;
    padding-right: 20px;
    color: #3057E1;
    /* transition: color 0.3s ease-in-out; */
    /* transition: transform 0.3s ease-in-out; */
}

/* .navbar:hover .title-slashes {
    color: #CED8F7;
    transform: rotate(180deg);
} */

.link-container {
    display: flex;
    height: 0;
    width: 0;
    overflow-x: hidden;
    transition: width 1s, height 1s, transform 1s;
}

.nav-link {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: #3057E1;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px;
}

.navbar:hover .link-container {
    height: 100%;
    width: 100%;
    transform: translateX(0);
}

.nav-link.active {
    color: #002082;
}

.nav-link:hover {
    color: #002082;
    transform: translateY(-2px);
}