.room {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid #CED8F7;
    background-color: #4A6DE5;
}

.arrows-top-row {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: darkred; */
}

.scale-top-left {
    position: relative;
    height: 50px;
    width: 50px;
    /* background-color: purple; */
}

.scale-top-left-control {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    /* background-color: cornflowerblue; */
}

.scale-top-left-control:hover .up-left-arrow {
    transform: rotate(45deg) scale(1.5);
    opacity: 1;
}

.up-left-arrow {
    margin-top: 0px;
    opacity: .25;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.top-arrow-lockup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* background-color: chocolate; */
}

.top-spacer {
    width: 80%;
    height: 20px;
    /* background-color: orange; */
}

.up-arrow-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
    /* background-color: red; */
}

.up-arrow-container:hover .up-arrow {
    transform: rotate(90deg) scale(1.5);
    opacity: 1;
}

.up-arrow {
    opacity: .25;
    margin-bottom: 7px;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.up-arrow-active {
    opacity: 1;
    margin-bottom: 7px;
    transform: rotate(90deg) scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.scale-top-right {
    height: 50px;
    width: 50px;
    position: relative;
    /* background-color: coral; */
}

.scale-top-right-control {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    /* background-color: lightsalmon; */
}

.scale-top-right-control:hover .up-right-arrow {
    transform: rotate(135deg) scale(1.5);
    opacity: 1;
}

.up-right-arrow {
    opacity: .25;
    margin-top: 0px;
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.arrows-middle-row {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: gray; */
}

.left-arrow-lockup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: aqua; */
}

.left-spacer {
    width: 20px;
    height: 80%;
    /* background-color: lightseagreen; */
}

.left-arrow-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30px;
    height: 100%;
    cursor: pointer;
    /* background-color: blue; */
}

.left-arrow-container:hover .left-arrow {
    transform: scale(1.5);
    opacity: 1;
}

.left-arrow {
    opacity: .25;
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.left-arrow-active {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.arrows-center-center {
    display: flex;
    flex: 1;
    justify-content: center;
    /* background-color: lightgray; */
}

.center-buttons-lockup {
    display: flex;
    align-items: center;
}

.move-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: move;
    background-color: orange;
}

.right-arrow-lockup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: beige; */
}

.right-arrow-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30px;
    height: 100%;
    cursor: pointer;
    /* background-color: yellow; */
}

.right-arrow-container:hover .right-arrow {
    transform: rotate(180deg) scale(1.5);
    opacity: 1;
}

.right-arrow {
    opacity: .25;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.right-arrow-active {
    transform: rotate(180deg) scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.right-spacer {
    width: 20px;
    height: 80%;
    /* background-color: tan; */
}

.arrows-bottom-row {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: darkgreen; */
}

.scale-bottom-left {
    position: relative;
    height: 50px;
    width: 50px;
    /* background-color: skyblue; */
}

.scale-bottom-left-control {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    /* background-color: navy; */
}

.scale-bottom-left-control:hover .down-left-arrow {
    transform: rotate(315deg) scale(1.5);
    opacity: 1;
}

.down-left-arrow {
    opacity: .25;
    margin-top: 0px;
    transform: rotate(315deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.bottom-arrow-lockup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* background-color: lightgreen; */
}

.bottom-spacer {
    width: 80%;
    height: 20px;
    /* background-color: forestgreen; */
}

.down-arrow-container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
    /* background-color: chartreuse; */
}

.down-arrow-container:hover .down-arrow {
    transform: rotate(270deg) scale(1.5);
    opacity: 1;
}

.down-arrow {
    opacity: .25;
    margin-top: 7px;
    transform: rotate(270deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.down-arrow-active {
    margin-top: 7px;
    transform: rotate(270deg) scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.scale-bottom-right {
    height: 50px;
    width: 50px;
    position: relative;
    /* background-color: yellowgreen; */
}

.scale-bottom-right-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    /* background-color: goldenrod; */
}

.scale-bottom-right-control:hover .down-right-arrow {
    transform: rotate(225deg) scale(1.5);
    opacity: 1;
}

.down-right-arrow {
    opacity: .25;
    margin-top: 0px;
    transform: rotate(225deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}